@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
  background-color: #1c1c1c;
  color: #adadad;
  font-family: 'Inter', sans-serif;
}

